* {
  margin: 0;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif !important;
}
.le{
  padding: 10px;
}

.websitetext{
  width: 84%;
}


.MuiPaper-root{
  background-color: transparent !important;
}
.travelbox:hover{
  transform: scale(0.9);
}
.coperbox:hover{
  transform: scale(0.9);
}
.archbox:hover{
  transform: scale(0.9);
}
.musicbox:hover{
  transform: scale(0.9);
}
.megabox:hover{
  transform: scale(0.9);
}

@media (max-width: 1200px) {
  .Container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .Container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .Container {
    max-width: 540px;
  }
  
}

@media (max-width: 576px) {
  .Container {
    max-width: 100%;
  }
  .myabout{
    width: 93% !important;
    font-size: 17px !important;
  }
  .experinceboxed{
    margin-left: 0px !important;
    margin-top: 40px !important;
  }
  .experincetext{
    text-align: center !important;
  }
  .websithome{
    margin-left: 0px !important;
  }
  .websitetext{
   text-align: center !important;
    padding: 16px !important;
    width: 100%  !important;
  }
  .skilsboxed{
    margin-left: 0px !important;
  }
  .skilstext{
    text-align: center !important;
  }
  .abouttext{
    text-align: center !important;
  }
  .projectlineone{
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    gap: 30px !important;
    margin-left: 12px !important;
    padding: 2px !important;
  
  }
  .projectlinetwo{
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    gap: 30px !important;
    justify-content: center;
    padding: 3px !important;
    margin-left: 9px !important;
  }
  .contactsd{
    display: flex;
  flex-direction: row !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
  }
  .contac{
    margin-left: 20px !important;
  }
  .musicbox{
  
    width: 100% !important;
  }
  .contactbox{
    width: 100% !important;
    margin-left: -2% !important;
    padding: 8px !important ;
   
    margin-top: 52px !important;
  }

  .websitestartphoto{
    flex-direction: column !important;
    align-items: center !important;
  }
 
  .fronthome{
    text-align: center !important;
  }
  .fronthomez{
    width: 70% !important;
    text-align: center !important;
  }

  .travelbox,
   .megabox{
    width: 100% !important;
  }
  .skilsbox{
    width: 100% !important;
  }
  .archbox{
    height: 227px !important;
    width: 100% !important;
    padding: 10px !important;
  }
 
  .jedpractice{
    text-align: center !important;
    padding: 15px;
  }
  .contactboxed{
    margin-left: 0px !important;
  }
  .contacttext{
    text-align: center !important;
  }
  .contactboxs{
    flex-direction: column !important;
    gap: 10px !important;
    margin-left: 0px !important;
  }
  .practicetext{
    width: 99% !important;
    padding: 16px;
    text-align: center !important;
  }
.contact{
  text-align: center !important;
  margin-top: 60px !important;
}
.cvs{
  text-align: center !important;
}
.cvphoto{
  width: 100% !important;
  margin-left: 0% !important;
}
  .megabox{
    height: 274px !important;
  }
  .megatexnikabox{
    height: 319px !important;
    width: 100% !important;
  }
  .projectstext{
    text-align: center !important;
  }
  .projectsbox{
    flex-direction: column !important;
    align-items: center !important;
    margin-left: 0px !important;
  }
  .projectsboxed{
    margin-left: 0px !important;
  }
  .hobibox{
    margin-left: 10px !important;
  }
  .frontgit{
    align-items: center !important;
    justify-content: center !important;
  }
  .frontback{
    margin-left: 0% !important;
    width: 100% !important;
    margin-top: 28px !important;
  }
  .gmailtext{
    font-size: 16px !important;
  }
  .a{
    flex-direction: column !important;
    align-items: center !important;
    gap: 10px !important;
    margin-top: 20px !important;
  }
  .fronticonsdx{
    display: flex;
  justify-content: center !important;
    align-items: center !important;
  }
  .poht{
    width: 100% !important;
  }
  .coperbox{
   
    width: 100% !important;
    padding: 10px !important;
    height: 284px !important;
  }
  .travelbox{
  height: 320px !important;
  }
  .cvbox{
    width: 96% !important;
    margin: auto !important;
    margin-top: 20px !important;
  }
  .frontwebsitepht{
    width: 100% !important;
  }
  .allskils{
    gap: 5px !important;
  }

.skilscolmn{
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  gap: 20px !important;
}
  .hobbi{
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    gap: 20px !important;
  }
  .photocodes{
    width: 100% !important;
  }

  .footercolorhight{
    height: 181px !important;
  }
  .junior{
    left: 60px !important;
  }
  .vebphotoshome{
    display: flex;
    flex-direction: column !important;
    gap: 10px;
    text-align: center !important;
    align-items: center !important;
  }
  .fotersicon{
   justify-content: center !important;
   margin-top: 10px;
   gap: 40px !important;
  }
  .personjunior{
    width: 60px !important;
  }



}