@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" !important;
}
.experience__cardwidhline{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.le{
  padding: 10px;
}
html, body {
  overflow-x: hidden;
}

.websitetext{
  width: 84%;
}
.MuiPaper-root{
  background-color: transparent !important;
}
.travelbox:hover{
  transform: scale(0.9);
}
.coperbox:hover{
  transform: scale(0.9);
}
.archbox:hover{
  transform: scale(0.9);
}
.musicbox:hover{
  transform: scale(0.9);
}
.megabox:hover{
  transform: scale(0.9);
}
.allspage{
  background-color: #0f1722;
  height: auto;
}
.navbar{
  position: sticky;
  z-index: 99999;
  top: 0;
height: 100px;
border: 1px solid #0f1722;
background-color: #0f1722;
border-radius: 12px;
margin-bottom: 70px;
}
.navbar__top{
  padding: 20px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;

  align-items:center ;
}
.navbar__name{
  color: aliceblue;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  font-size: 25px;
}
.about__namesbutom{
  color: aliceblue;
  font-size: 2em;
  font-size: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.aboutspancolor{
  color: blueviolet;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;

  overflow: hidden;
  width: 0;
  animation: typing 1s steps(22) 1s infinite alternate, blink 0.5s step-end infinite;
}
@keyframes typing {
  from { width: 0; }
  to { width: 15ch; } 
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}
.navbar_slachs{
  color: blueviolet;
}
.navbar__github{
  border: 1px solid blueviolet ;
  color: blueviolet;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  width: 150px;
}
.navbar__github:hover{
  background-color: orchid;
}
.navbar__href{
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 50px !important;
}
.footer__hrefs{
  display: flex;
  flex-direction: row !important;
  gap: 20px;
  font-size: 14px;
  color: grey;
  justify-content: center;

}

.navbarhref {
  box-shadow: 0 1px 0 transparent;
  transition: box-shadow 0.3s ease;
}

.navbarhref:hover {
  box-shadow: 0 1px 0 #854ce6;
  color: #854ce6;
}

#about{
display: flex;
}
.about__container{
   display: flex;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 40px;
}
.about__left{
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.about__namestops{
  color: aliceblue;
  font-size: 30px;
  width: 51%;
}
.about__infor{
  color: gray;
  width: 90%;
  font-size: 25px;
}
.about__right{
  border: 1px solid blueviolet !important;
  border: 12px;
  border-radius: 10%;
}
.aboutsphoto{
  width: 450px;
  height: 350px;
    border-radius: 10%;
}
.skils__top{
  text-align: center;
  color: aliceblue;
  font-size: 25px;
}
#skils{
margin-top: 80px;

}
.skills__buttom{
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  align-items: center !important;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  width: 100%;
  background-color: rgba(17, 25, 40, 0.83);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: rgb(23 92 230 / 15%) 0px 4px 24px;
  border-radius: 16px;
  padding: 38px 36px;
}
.skills__cardthree{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.skills__buttom:hover{
  border: 1px solid blueviolet;
}

.skills__cardone{
  display: flex;
  gap: 15px;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  
}
.skills__cardtwo{
  display: flex;
  gap: 10px;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}
.card__skils{
  border: 1px solid gray;
  border-radius: 12px;
  padding: 6px;
  gap: 15px;
  color: aliceblue;
  text-align: center;
  align-items: center !important;
cursor: pointer;
  height: 50px;
  display: flex;
  flex-direction: row !important;
  justify-content: center !important;
}
.card__skils:hover{
  border: 1px solid orchid;
}
.skilscardsphoto{
  width: 30px;
}
.skilscardsphotoapi{
  width: 
  80px;
}
#experience{
  margin-top: 60px;
}
.experience__allcard{
  display: flex !important;
  flex-direction: column !important;
gap: 20px;
  margin-top: 20px;
}
.experience__carline{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.border__card{
  border: 2px solid white;
  width: 1px;
  height: 120px;
}

.cardsimage{
  width: 70px;
  border-radius: 10%;
}
.experience__cards{
  display: flex;
  gap: 15px;
  flex-direction: row !important;
  align-items: center !important;
  
}
.experience__jetcards{
    background-color: rgba(17, 25, 40, 0.83);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: rgb(23 92 230 / 15%) 0px 4px 24px;
    border-radius: 16px;
    overflow: hidden;
    padding: 18px 36px;
}
.experience__jetcards:hover{
  border: 1px solid blueviolet;
}
.jetcard{
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 10px;
}
.experience__cardtop{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.experience__cardleft{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgba(242, 243, 244, 0.584);
}
.experience__text{
  color: grey;
}
.experience__skils{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  color: rgba(242, 243, 244, 0.584);
  font-size: 18px;
}
.experience__top{
  text-align: center;
  color: aliceblue;
  font-size: 22px;
}
.skilscolor{
  border-radius: 20px;
  padding: 5px 10px;
  font-size: .8rem;
  text-align: center;
  line-height: 1.1;
  height: -moz-fit-content;
  height: fit-content;
  color: #854ce6;
  background-color: #231e36;
}
.skilscolorbigtext{
  border-radius: 20px;
  padding: 5px 10px;
  font-size: .8rem;
  text-align: center;
  line-height: 1.1;
  height: -moz-fit-content;
  height: fit-content;
  color: #854ce6;
  background-color: #231e36;
  width: 150px;
}
.cardsimagetop{
  width: 70px;
  height: 70px;
}
.cardskils{
color: grey;
}

.project__card{
  display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 10px;
    border-radius: 10px;
    background-color: #171721;
    box-shadow: 0 0 12px 4px #0006;
    transition: .4s;
    width: 250px;
    align-items: center;
}
.project__cardcomincate{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 10px;
  border-radius: 10px;
  background-color: #171721;
  box-shadow: 0 0 12px 4px #0006;
  transition: .4s;
  width: 250px;
  align-items: center;
}
.project__card:hover{
  border: 1px solid #854ce6;
}
.project__cardcomincate:hover{
  border: 1px solid #854ce6;
}
.projectimg{
  width: 100%;
}
.projectname{
  color: #f2f3f495;
    font-weight: 600;
    font-size: 20px;
}
.project__skils{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.project__live{
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 20px;
  transition: .4s;
  background-color: #854ce6;
  color: #fff;
}
.project__live:hover{
  background-color: orchid;
  transition: .4s;
}
.project__cardsone{
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.projects__top{
  text-align: center;
  margin-top: 50px;
  color: #fff;
  font-size: 28px;
}

.projects__allcard{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
gap: 20px;
margin-top: 20px;
}
#contact{
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 40px !important;
}
.footer{
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c27;
}
.contact__top{
  text-align: center;
  font-size: 28px;
  color: #fff;
}
.airplane{
font-size: 50px !important;
color: #854ce6;

}
.contact__card{
  align-items: baseline;
  width: 65%;
/* height:26%; */
margin: auto;
    display: flex;
    flex-direction: row;
    background-color: rgba(17, 25, 40, 0.83);
    border: 1px solid rgba(255, 255, 255, 0.125);
 
    box-shadow: rgb(23 92 230 / 10%) 0px 4px 24px;
    margin-top: 28px;
    background-size: cover;
}
.about__cv{
  border: 1px solid #854ce6;
  border-radius: 12px;
  padding: 20px 0;
  width: 220px;
  height: 70px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-color: #854ce6;
}
.allrights{
color: grey;
margin-top: 15px;
  font-size: 20px;
}
.contact__right{
  display: flex;
  flex-direction: column;
 color: grey;
  gap: 30px;
  padding: 20px;
}

.icons__card{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.icon__contacts{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact__left{
  width: 100%;
  border: 1px solid #231e36;
  padding: 30px;
  background-color: #231e36;
  color: white;
  background-size: cover;
}
.contact__card:hover{

  border:1px solid #854ce6 !important;
}
.emailnames{
      font-weight: 600;
    color: rgb(242, 243, 244);
}
.contact__input{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.read-more-btn {
 
  color: white;
  border: none;
  cursor: pointer;

  font-size: 14px;
  font-weight: 700;
  
}
.contactinputs{
      flex: 1 1 0%;
    background-color: transparent;
    border: 1px solid rgba(177, 178, 179, 0.314);
    outline: none;
    font-size: 18px;
    width: 100%;
    color: rgb(242, 243, 244);
    border-radius: 12px;
    padding: 12px 16px;
}
.contactinputsmsg{
    flex: 1 1 0%;
    background-color: transparent;
    border: 1px solid rgba(177, 178, 179, 0.314);
    outline: none;
    font-size: 18px;
    width: 100%;
    color: rgb(242, 243, 244);
    border-radius: 12px;
   padding: 36px;
}
.contact__send{
      width: 100%;
    text-decoration: none;
    text-align: center;
    background: -webkit-linear-gradient(225deg, rgb(132, 0, 255) 0%, rgb(230, 0, 255) 100%);
    padding: 13px 16px;
    margin-top: 2px;
    border-radius: 12px;
    border: none;
    color: rgb(242, 243, 244);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.photossend{
  width: 40px;
}
.contact__name{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.experiencelinecards{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1200px) {
  .experience__text {
    text-align: center;
    font-size: 15px; /* Slightly larger font size for tablets */
  }
  .projects__allcard {
    justify-content: center !important;
  }
  .allrights {
    text-align: center;
    width: 100%;
    font-size: 22px; /* Slightly larger font size for tablets */
  }
  .navbar__href {
    display: block; /* Show navbar links on tablets */
  }
  .project__skils {
    justify-content: center;
  }
  .border__card {
    border: 2px solid white;
    height: 270px; /* Adjust card height for tablets */
  }
  .experience__cardtop {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .navbar__github {
    display: block; /* Show GitHub link on tablets */
  }
  .project__cardsone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__card {
    width: 90%; /* Adjust width for tablets */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact__right {
    align-items: center;
  }
  .navbar {
    margin-bottom: 10px; /* Adjust margin for tablets */
  }
  .navbar__githubeyyub {
    display: block;
    border: 1px solid blueviolet;
    color: blueviolet;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px; /* Larger font size for tablets */
    cursor: pointer;
    width: 180px; /* Larger width for tablets */
  }
  .navbar__githubeyyub:hover {
    background-color: orchid;
  }
  .navbar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .about__infor {
    width: 100%;
    font-size: 22px; /* Slightly larger font size for tablets */
  }
  .skills__cardone {
    display: flex;
    flex-wrap: wrap;
  }
  .skills__cardtwo {
    display: flex;
    flex-wrap: wrap;
  }
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .about__namesbutom {
    font-size: 22px;
    width: 80%; /* Adjust width for tablets */
  }
  .about__right {
    display: none;
  }
  .about__namestops {
    width: 80%;
    font-size: 22px;
  }
  .burger-container {
    display: block;
  }
  .menu-icon {
    color: white;
  }
  .cloceicon {
    color: white;
  }
  .project__card {
    width: 80%; /* Adjust card width for tablets */
  }
  .project__cardcomincate {
    width: 80%; /* Adjust card width for tablets */
  }
  .menu-drawer {
    width: 350px; /* Wider menu for tablets */
  }
  .menu-drawer.open {
    right: 0;
  }
  .close-icon {
    color: white;
  }
  .navbar__hrefs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbarhref h3 {
    margin: 10px 0;
  }
  .navbar__githubeyyub {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
  }
  .burgermenunames {
    color: grey;
    font-size: 28px; /* Larger font size for tablets */
  }
}

@media (max-width: 768px) {
  .experience__text {
    text-align: center;
    font-size: 15px; /* Slightly larger font size for tablets */
  }
  .projects__allcard {
    justify-content: center !important;
  }
  .allrights {
    text-align: center;
    width: 100%;
    font-size: 22px; /* Slightly larger font size for tablets */
  }
  .navbar__href {
    gap: 10px !important;
    display: block; /* Show navbar links on tablets */
  }
  .project__skils {
    justify-content: center;
  }
  .border__card {
    border: 2px solid white;
    height: 270px; /* Adjust card height for tablets */
  }
  .experience__cardtop {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .navbar__github {
    display: block; /* Show GitHub link on tablets */
  }
  .project__cardsone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__card {
    width: 90%; /* Adjust width for tablets */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact__right {
    align-items: center;
  }
  .navbar {
    margin-bottom: 10px; /* Adjust margin for tablets */
  }
  .navbar__githubeyyub {
    display: block;
    border: 1px solid blueviolet;
    color: blueviolet;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px; /* Larger font size for tablets */
    cursor: pointer;
    width: 180px; /* Larger width for tablets */
  }
  .navbar__githubeyyub:hover {
    background-color: orchid;
  }
  .navbar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .about__infor {
    width: 100%;
    font-size: 22px; /* Slightly larger font size for tablets */
  }
  .skills__cardone {
    display: flex;
    flex-wrap: wrap;
  }
  .skills__cardtwo {
    display: flex;
    flex-wrap: wrap;
  }
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .about__namesbutom {
    font-size: 22px;
    width: 80%; /* Adjust width for tablets */
  }
  .about__right {
    display: none;
  }
  .about__namestops {
    width: 80%;
    font-size: 22px;
  }
  .burger-container {
    display: block;
  }
  .menu-icon {
    color: white;
  }
  .cloceicon {
    color: white;
  }
  .project__card {
    width: 80%; /* Adjust card width for tablets */
  }
  .project__cardcomincate {
    width: 80%; /* Adjust card width for tablets */
  }
  .menu-drawer {
    width: 350px; /* Wider menu for tablets */
  }
  .menu-drawer.open {
    right: 0;
  }
  .close-icon {
    color: white;
  }
  .navbar__hrefs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbarhref h3 {
    margin: 10px 0;
  }
  .navbar__githubeyyub {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
  }
  .burgermenunames {
    color: grey;
    font-size: 28px; /* Larger font size for tablets */
  }
  .navbar__top{
    gap: 10px !important;
  }
} 
@media (max-width: 576px) {
  .experience__text {
    text-align: center;
    font-size: 13px;
  }
  .projects__allcard {
    justify-content: center !important;
  }
  .allrights {
    text-align: center;
    width: 100%;
    font-size: 19px;
  }
  .navbar__href {
    display: none !important;
  }
  .project__skils {
    justify-content: center !important;
  }
  .border__card {
    border: 2px solid white;
    height: 230px !important;
  }
  .experience__cardtop {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }
  .navbar__github {
    display: none !important;
  }
  .project__cardsone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__card {
    width: 100%;
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
  }
  .contact__right {
    align-items: center !important;
  }
  .navbar {
    margin-bottom: 5px;
  }
  .navbar__githubeyyub {
    display: block;
    border: 1px solid blueviolet;
    color: blueviolet;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    width: 150px;
  }
  .navbar__githubeyyub:hover {
    background-color: orchid;
  }
  .navbar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .about__infor {
    width: 100% !important;
    font-size: 20px !important;
  }
  .skills__cardone {
    display: flex;
    flex-wrap: wrap !important;
  }
  .skills__cardtwo {
    display: flex;
    flex-wrap: wrap !important;
  }
  .about__container {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center !important;
    text-align: center;
  }
  .about__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .about__namesbutom {
    font-size: 20px;
    width: 70% !important;
  }
  .about__right {
    display: none;
  }
  .about__namestops {
    width: 70%;
    font-size: 20px;
  }
  .burger-container {
    display: block;
  }
  .menu-icon {
    color: white !important;
  }
  .cloceicon {
    color: white !important;
  }
  .project__card {
    width: 70%;
  }
  .project__cardcomincate {
    width: 70%;
  }
  .menu-drawer {
    position: fixed;
    top: 0;
    right: -100%;
    width: 330px;
    height: 100%;
    background: #0F1624;
    color: white;
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
    text-align: center;
  }
  .menu-drawer.open {
    right: 0;
  }
  .close-icon {
    color: white;
  }
  .navbar__hrefs {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center;
  }
  .navbarhref h3 {
    margin: 10px 0;
  }
  .navbar__githubeyyub {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
  }
  .burgermenunames {
    color: grey;
    font-size: 25px;
  }
}

@media (max-width: 320px) {
  .experience__text {
    text-align: center;
    font-size: 13px;
  }
  .projects__allcard {
    justify-content: center !important;
  }
  .allrights {
    text-align: center;
    width: 100%;
    font-size: 19px;
  }
  .navbar__href {
    display: none !important;
  }
  .project__skils {
    justify-content: center !important;
  }
  .border__card {
    border: 2px solid white;
    height: 230px !important;
  }
  .experience__cardtop {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }
  .navbar__github {
    display: none !important;
  }
  .project__cardsone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__card {
    width: 100%;
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
  }
  .contact__right {
    align-items: center !important;
    font-size: 10px !important;
  }
  .navbar {
    margin-bottom: 5px;
  }
  .navbar__githubeyyub {
    display: block;
    border: 1px solid blueviolet;
    color: blueviolet;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    width: 150px;
  }
  .navbar__githubeyyub:hover {
    background-color: orchid;
  }
  .navbar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .about__infor {
    width: 100% !important;
    font-size: 20px !important;
  }
  .skills__cardone {
    display: flex;
    flex-wrap: wrap !important;
  }
  .skills__cardtwo {
    display: flex;
    flex-wrap: wrap !important;
  }
  .about__container {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center !important;
    text-align: center;
  }
  .about__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .about__namesbutom {
    font-size: 20px;
    width: 70% !important;
  }
  .about__right {
    display: none;
  }
  .about__namestops {
    width: 70%;
    font-size: 20px;
  }
  .burger-container {
    display: block;
  }
  .menu-icon {
    color: white !important;
  }
  .cloceicon {
    color: white !important;
  }
  .project__card {
    width: 70%;
  }
  .project__cardcomincate {
    width: 70%;
  }
  .menu-drawer {
    position: fixed;
    top: 0;
    right: -100%;
    width: 330px;
    height: 100%;
    background: #0F1624;
    color: white;
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
    text-align: center;
  }
  .menu-drawer.open {
    right: 0;
  }
  .close-icon {
    color: white;
  }
  .navbar__hrefs {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center;
  }
  .navbarhref h3 {
    margin: 10px 0;
  }
  .navbar__githubeyyub {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
  }
  .burgermenunames {
    color: grey;
    font-size: 25px;
  }
}

