* {
  margin: 0;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif !important;
}

.MuiPaper-root{
  background-color: transparent !important;
}
.travelbox:hover{
  transform: scale(0.9);
}
.archbox:hover{
  transform: scale(0.9);
}
.musicbox:hover{
  transform: scale(0.9);
}
.megabox:hover{
  transform: scale(0.9);
}

@media (max-width: 1200px) {
  .Container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .Container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .Container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .Container {
    max-width: 100%;
  }
  .myabout{
    width: 100% !important;
  }
  .projectlineone{
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    gap: 30px !important;
    margin-left: 12px !important;
    padding: 2px !important;
  
  }
  .projectlinetwo{
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    gap: 30px !important;
    justify-content: center;
    padding: 3px !important;
    margin-left: 9px !important;
  }
  .contactsd{
    display: flex;
  flex-direction: row !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
  }
  .contac{
    margin-left: 20px !important;
  }
  .musicbox{
  
    width: 100% !important;
  }
  .contactbox{
    width: 100% !important;
    margin-left: -2% !important;
    padding: 8px !important ;
   
    margin-top: 52px !important;
  }
 
  .fronthome{
    text-align: center !important;
  }
  .travelbox,
   .megabox{
    width: 100% !important;
  }
  .skilsbox{
    width: 100% !important;
  }
  .archbox{
    height: 220px !important;
    width: 100% !important;
    padding: 10px !important;
  }
  .jedpractice{
    text-align: center !important;
  }
  .practicetext{
    width: 90% !important;
    text-align: center !important;
  }
.contact{
  text-align: center !important;
}
  .megabox{
    height: 250px !important;
  }
  .hobibox{
    margin-left: 10px !important;
  }
  .travelbox{
    margin-left: -3% !important;
    width: 100% !important;
    padding: 10px !important;
  }
  .hobbi{
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    gap: 20px !important;
  }
  .photocodes{
    width: 100% !important;
  }

  .footercolorhight{
    height: 181px !important;
  }
  .junior{
    left: 60px !important;
  }
  .vebphotoshome{
    display: flex;
    flex-direction: column !important;
    gap: 10px;
    text-align: center !important;
    align-items: center !important;
  }
  .fotersicon{
   justify-content: center !important;
   margin-top: 10px;
   gap: 40px !important;
  }
  .personjunior{
    width: 100%;
  }



}